


/* Adapt to GisHosting Style */


#mapmenu {
    background:rgba(240,95,64,0.8); 
}


#navbar button.btn {
    height: 30px;
    width: 30px;
    margin-bottom: 0.1em;
    border: solid 1px white;
    border-radius: 0;
    padding: 0px;
    /*background : #CE1F2D;*/
    background: #F05F40;
    background-image: url(../../../css/images/sprite_30.png);
    transition: none;
}


#headermenu .dropdown-menu > li > a{
  color:grey;
}



#headermenu .dropdown-menu > li > a:hover,
#headermenu .dropdown-menu > li > a:focus,
#headermenu .dropdown-submenu:hover > a,
#headermenu.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
